 <link href="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447734615/jquery-ui.min.css" rel="stylesheet" />
    <link href="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447734729/bootstrap.min.css" rel="stylesheet" />
    <link href="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447735152/animate.min.css" rel="stylesheet" />
    <link href="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447735249/style.min.css" rel="stylesheet" />
<style type="text/css">
body { 
  background: url(https://res.cloudinary.com/vianse/image/upload/v1463253972/bikina-cover.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  background-size:cover;
	background-position:center;
	box-shadow:inset 0 -42.5rem 42.5rem -21.25rem rgba(0,0,0,.5),inset 0 8.5rem 10.6rem -5.3rem rgba(0,0,0,.5)!important;
  margin: 0;
  height: 100%;
}


h1{
	font-size: 50px;
    font-weight: 700;
	text-transform:uppercase;
	color: white!important;
	line-height: 1.1;
    text-rendering: optimizelegibility;
    text-align: center;
    display: block;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;

}
#header{
	background: transparent!important;
}
.navbar-brand{
	color: white!important;
	font-weight: 700;
	font-size: 26px;
}
.va-middle{
	padding-top:20%;
}

.btn-info{
	background: transparent!important;
	width: 150px;
	height: 40px;
	color: white!important;
	border-radius: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	-webkit-box-shadow:none!important;
	font-weight: normal;
	margin-top: 5%;

}
#entrar.btn-info{
	padding-top: 5px!important;
}

.btn-info:hover{
	background: white!important;
	color:hsl(194, 67%, 49%)!important;
	border-color: white!important;

}
h4,.text-contrast,.space-4{
	text-transform:uppercase!important;
}
</style>

<div id="header" class="header navbar navbar-default navbar-fixed-top">
      <!-- begin container-fluid -->
      <div class="container-fluid">
        <!-- begin mobile sidebar expand / collapse button -->
        <div class="navbar-header">
          <a href="/" class="navbar-brand">
                 bikina     
           </a>
          <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- end mobile sidebar expand / collapse button -->
        <ul class="nav navbar-nav navbar-right">
        	<li> 
        		<a href="/users/sign_in" class="btn btn-info" id="entrar">Entrar</a> 
        	</li>
        </ul>

        <!-- end navbar-right -->
      </div>
      <!-- end container-fluid -->
</div>

<div class="hero__content page-container page-container-full text-center">
    <div class="va-container va-container-v va-container-h">
      <div class="va-middle">
        <div class="">
            <h1>directorio de servicios vecinales</h1>
            <div class="h4 text-contrast space-4">
              No siguas pasando desapersivido, que tu timeline no te olvide. 
            </div>
            <a href="/users/sign_up" class="btn btn-info">Regístrate</a>
        </div>
     </div>
    </div>
</div>






