<!DOCTYPE html>
<html>
<head>
  <title>Bikina</title>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://res.cloudinary.com/dnubgpeun/raw/upload/v1457991292/animated.css">
</head>

<body>

<%= yield %>

</body>
</html>
